<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}

  <!-- MathJax Config -->
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>

  <!-- MathJax Script -->
  <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <div class="d-flex" id="wrapper">
    {% include sidebar.html %}

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include nav.html %}

      <div class="container">
        {{ content }}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  {% include scripts.html %}

</body>

</html>
