---
layout: default
---
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<article class="page lab">
    <h1 class="page-title" id="page-title">
        {{ page.title }}
    </h1>

    <div class="page-content">
        {% if page.toc %}
        <div class="lab-toc col-md-6 col-lg-5 bg-light">
            <h4>Table of Contents</h4>
            {% include toc.html html=content %}
        </div>
        {% endif %}

        {{ content }}
    </div>
</article>